<ion-content class="ion-padding fondo-historial">
  <div class="contenedor-historial">
    <ion-card class="tarjeta-historial">
      <ion-card-header>
        <ion-card-title class="titulo-historial">Historial de Viajes</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="lista-historial">
          <ion-item *ngFor="let viaje of viajes" class="item-historial">
            <ion-label>
              <h2 class="fecha-historial">Fecha: {{ viaje.fecha | date }}</h2>
              <p>Costo: ${{ viaje.costo }}</p>
              <p>Patente: {{ viaje.patente }}</p>
              <p>Chofer: {{ viaje.chofer }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
